:root {
  --clr: #c7512d;
  // --clr-mid-orange: #cb785e;
  --clr-mid-orange: #DD7554;
  --clr-light-orange: #faefec;
  --clr-sec: #2dc7bd;
  --clr-grey: #525252;
  --clr-light-grey: #757575;
  --clr-bg-block: #fff;
  --clr-mid-green: #53C58B;
}

$clr: var(--clr);
$clr-sec: var(--clr-sec);
$clr-grey: var(--clr-grey);
$clr-light-grey: var(--clr-light-grey);
$clr-bg-block: var(--clr-bg-block);
$clr-mid-orange: var(--clr-mid-orange);
$clr-light-orange: var(--clr-light-orange);
$clr-mid-green: var(--clr-mid-green);

html {
  overflow-x: hidden;
}
.test {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 10;
  width: 200px;
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.ovelaped {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-right: 18px;
}

.modal-bgn {
  display: block;
  background-color: #ffffff7f;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal-bgn--hidden {
  display: none;
  visibility: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  width: 100vw;
  // max-width: calc(100% - 40px);
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  // padding: 20px;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(61, 87, 107, 0.14);
  -moz-box-shadow: 2px 2px 6px 0px rgba(61, 87, 107, 0.14);
  box-shadow: 2px 2px 6px 0px rgba(61, 87, 107, 0.14);
}

.ovelaped .sidebar {
  max-width: calc(16% - 3px);
}

.sidebar--expanded {
  width: 16%;
  min-width: 280px;
}

.sidebar--collapsed {
  display: flex;
  flex-direction: column;
  width: 4%;
  min-width: 70px;
}

.sidebar__container {
  opacity: 1;
  transition: opacity 0.2s linear;
}
.sidebar--loading {
  opacity: 0;
  // transition: opacity 0.2s linear;
}

.sidebar__opener {
  display: flex;
  position: absolute;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  color:rgb(60, 60, 60);
  transition: all 0.2s ease;
  width: 100%;
  bottom: 60px;
  left: auto;
  right: auto;
  margin: 0 auto;
  align-items: center;
  font-size: 18px;
  gap: 30px;
  padding-top: 14px;

  svg {
    transform: rotate(45deg);
    pointer-events: none;
  }
  &:hover {
    color: $clr;
  }
}
.sidebar--expanded {
  .sidebar__opener {
    svg {
      transform: rotate(90deg);
    }
  }
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  padding: 8% 5%;
  svg {
    width: 80px;
    height: 80px;
  }
  .logo__text {
    text-align: center;
    h1 {
      margin: 0;
      color: $clr;
      font-size: 36px;
      text-transform: uppercase;
    }
    p {
      margin: 0;
    }
  }
}

// Sidebar collapsed

.sm-logo {
  display: block;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  svg {
    display: block;
    width: 60%;
    height: auto;
    margin: 40px auto 14px auto;
  }
}

.sm-logo__text {
  width: 100%;
  h1 {
    width: 90%;
    font-size: 1em;
    color: $clr;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
}

.sm-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}
.sm-menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.sm-menu__item {
  position: relative;
  .sm-menu__title {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    top: 42px;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: all 0.3s linear;
    text-align: center;
    color: $clr;
  }
}

.sm-menu__item:hover > .sm-menu__title {
    opacity: 0.94;
}

// Normal styles

.profile {
  display: grid;
  position: relative;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 90%;
  padding: 8% 5%;
  font-size: 16px;
  .profile__image {
    width: 38%;
    max-width: 110px;
    margin-top: 10px;
  }
  .profile__name {
    padding: 12px 0 6px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(40, 40, 40);
  }
  .profile__email {
    font-size: 1em;
    color: rgb(55, 55, 55);
  }
}

.menu {
  width: 90%;
  padding: 8% 5%;
  font-size: 24px;
  .menu__list {
    list-style-type: none;
  } 
}

.menu__item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 0;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  svg {
    width: 24px;
    height: 24px;
    color: rgb(100, 100, 100);
    pointer-events: none;
  }
  .menu__title {
    font-size: 0.8em;
    margin-left: 30px;
    font-weight: bold;
    color: rgb(100, 100, 100);
    pointer-events: none;
  }
}

.menu__item:hover,
a.active {
  cursor: pointer;
  svg {
    color:$clr;
  }
  .menu__title {
    color: $clr;
  }
} 


/* MAIN GLOBAL */

.main {
  position: absolute;
  top: 0;
  left: 16%;
  width: 84%;
  height: auto;
  min-height: 100vh;
  background-color: rgb(240, 246, 246);
  transition: all 0.5s ease;

  h2 {
    margin: 10px 0;
    color: rgb(40, 40, 40);
  }

}

.main--expanded {
  left: 4%;
  width: 96%;
  transition: all 0.5s ease;
}


.block {
  padding: 10px 20px;
  border-radius: 12px;
  background-color: $clr-bg-block;
  -webkit-box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
  -moz-box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
  box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
}

// BUTTONS 

.tag {
  padding: 5px 14px;
  background-color: #fff;
  color: $clr;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid $clr;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(118, 72, 76, 0.11);
  -moz-box-shadow: 2px 2px 4px 0px rgba(118, 72, 76, 0.11);
  box-shadow: 2px 2px 4px 0px rgba(118, 72, 76, 0.11);
}
.sm-tag {
  font-size: 14px;
  line-height: 16px;
  padding: 4px 12px;
  background-color: #fff;
  border: 1px solid $clr;
  border-radius: 8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: $clr;
  margin-right: 12px;
}


.btn-main {
  padding: 6px 20px;
  width: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $clr;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.2s ease-in;
  .btn-main__title {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    white-space: nowrap;
    svg {
      margin-right: auto;
      font-size: 22px;
    }
    span {
      width: 80%;
    }
  }
  &:hover {
    background-color: $clr-mid-orange;
    transition: all 0.2s ease-in;
    border: 1px solid $clr-mid-orange;
  }
}

.btn-main--wide {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.btn-main--reverse {
  color: $clr;
  background-color: $clr-light-orange;
  border-color: $clr;
  &:hover {
    color: #fff;
    background-color: $clr-mid-orange;
    transition: all 0.2s ease-in;
  }
}
.btn-main--inactive {
  display: flex;
  gap: 6px;
  align-items: center;
  transition: all 0.4s ease;
}

.sm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  min-width: 150px;
  height: 32px;
  max-height: 32px;
  padding: 0 14px;
  border: 1px solid $clr;
  border-radius: 4px;
  color: #fff;
  background-color: $clr;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 14px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 14px 0px rgba(34, 60, 80, 0.2);
  > span {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  &:hover {
    color: $clr;
    background-color: #FBF4F1;
    transition: all 0.4s;
    border: 1px solid $clr;
  }
}
.sm-btn--sm {
  font-size: 14px;
  font-weight: normal;
  height: 32px;
  max-height: 32px;
  width: 172px;
}

.sm-btn-sec {
  border: 1px solid $clr;
  border-radius: 3px;
  min-width: 120px;
  height: 32px;
  max-height: 32px;
  color: $clr;
  background-color: #faefec;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: $clr;
    transition: all 0.4s;
  }
}
.sm-btn-sec--active {
  height: 32px;
  max-height: 32px;
  color: #fff;
  background-color: $clr;
  transition: all 0.4s;
  &:hover {
    background-color: $clr-mid-orange;
    color: #fff;
  }
}

.sm-btn-alt {
  border: 1px solid $clr-sec;
  color: $clr-sec;
  background-color: #2dc7bd19;
}

.link-out {
  font-size: 16px;
  padding: 4px 12px;
  background: rgb(199 81 45 / 24%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $clr;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
  svg {
    color: $clr;
    font-size: 14px;
    margin-left: 10px;
    pointer-events: none;
  }

  &:hover {
    background: $clr;
    color: #fff;
    transition: all 0.4s;
    svg {
      color: #fff;
      transition: all 0.4s;
    }
  }
}

.link-out-question {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #c3c3c3;
  color: #232323;
  padding: 0 8px;
  height: 22px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease;
  &:hover {
    color: #fff;
    background-color: #676767;
    transition: all 0.4s ease;
  }
}

.light-open {
  display: inline-flex;
  height: 30px;
  font-size: 14px;
  line-height: 18px;
  padding: 4px 14px;
  margin-left: 10px;
  color: #747474;
  align-items: center;
  text-decoration: none;
  background: rgba(128, 128, 128, 0.0941176471);
  cursor: pointer;
  border: none;
  gap: 6px;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(116, 116, 116, 0.6862745098);
    color: #fff;
    transition: all 0.3s;
  }
}
.light-open--active {
  background-color: rgba(116, 116, 116, 0.6862745098);
  color: #fff;
  transition: all 0.3s;
}

/* MAIN LANDING */

.main.landing {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 96%;
  min-width: 96%;
  height: 100%;
  padding: 50px 5%;
  background-color: #fff;
}

.landing__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 80%;
}
// Header 

.header {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  z-index: 1;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 20%;
  height: 100px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.header__signin {
  display: flex;
  height: 46px;
  max-height: 46px;
  justify-content: space-between;
  gap: 60px;
  margin-right: 60px;
}

/* MODAL SIGN IN */


.modal-signin {
  display: flex;
  visibility: visible;
  justify-content: center;
  position: absolute;
  width: 800px;
  height: auto;
  max-height: 1000px;
  top: 50%;
  margin-top: -260px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  box-sizing: border-box;
  padding: 40px 1% 40px 1%;
  background-color: $clr-light-orange;
  border-radius: 8px;
  z-index: 15;
  opacity: 1;

  -webkit-box-shadow: 8px 8px 18px 0px rgba(70, 93, 111, 0.18);
  -moz-box-shadow: 8px 8px 18px 0px rgba(70, 93, 111, 0.18);
  box-shadow: 8px 8px 18px 0px rgba(70, 93, 111, 0.18);
  
  transition: top 0.2s linear;
}

// .modal-signin--hidden {
//   visibility: hidden;
//   top: -500px;
//   opacity: 0;
//   z-index: -1;
//   transition: all 0.2s linear;
// }

.modal-signin__close {
  position: absolute;
  top: 12px;
  right: 12px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-size: 26px;
  svg path { 
    stroke: $clr;
  }
}
.modal-signin__close:hover {
  svg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.6s;
  }
  svg path {
    stroke: $clr;
  }
}

.modal-signin__image {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  img {
    width: 100%;
  }
}
.modal-signin__content {
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px;
}
.modal-signin__heading {
  h3 {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: $clr;
    margin: 4px 0 4px 0;
  }
  p {
    display: inline-block;
    margin: 4px 0;
    color: $clr;
    font-size: 16px;
    font-weight: bold;
  }
}

.modal-signin__form {
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: $clr;
    margin-top: 16px;
  }

  .modal-signin__input-div {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 4px;
  }

  input {
    // display: block;
    width: 82%;
    height: 30px;
    font-size: 16px;
    border: 1px solid $clr-mid-orange;
    border-radius: 6px;
    outline: none;
    padding: 0 2%;
    color: $clr-grey;
    padding-top: 2px;
    &:active {
      border-color: $clr;
    }
    &:focus-visible {
      border: 1px solid $clr;
      outline: none;
      -webkit-box-shadow: 0px 0px 3px 3px rgba(199, 81, 45, 0.1);
      -moz-box-shadow: 0px 0px 3px 3px rgba(199, 81, 45, 0.1);
      box-shadow: 0px 0px 3px 3px rgba(199, 81, 45, 0.1);
      color: $clr-grey;
    }
    transition: all 0.4s;
  }

  .modal-signin__icon-help {
    width: 8%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(183, 49, 25);
    margin-left: 3%;
    svg {
      margin-top:4px;
    }
    transition: all 0.4s;
  }
  .modal-signin__icon-help--green {
    color: $clr-mid-green;
  }
  .modal-signin__help-group {
    opacity: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s linear;
    p {
      margin: 2px 0;
      padding: 0;
    }
  }

  .modal-signin__help-group--displayed {
    margin-top: 6px;
    height: auto;
    max-height: 120px;
    opacity: 1;
    
  }

  .modal-signin__help-psw {
    display: block;
    font-size: 14px;
    color: $clr-mid-orange;
    opacity: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s linear;
  }

  .modal-signin__help-psw--displayed {
    margin-top: 6px;
    height: 19px;
    max-height: 19px;
    opacity: 1;
    transition: all 0.2s linear;
  }

  .modal-signin__help {
    display: block;
    font-size: 14px;
    color: $clr-mid-orange;
    max-height: 19px;
    overflow: hidden;
    transition: all 0.2s linear;
  }
  .modal-signin__help--hidden {
    overflow: hidden;
    max-height: 0;
    transition: all 0.2s linear;
  }
  .modal-signin__help--green {
    color: $clr-mid-green;
  }

  .modal-signin__icon-help--green {
    color: $clr-mid-green;
  }

  .btn-sign-in {
    box-shadow: none;
    width: 87%;
    margin-top: 28px;
    border: 2px solid $clr;
    &:hover {
      border: 2px solid transparent;
    }
  }
  .modal-signin__view-psw {
    position: absolute;
    right: 16%;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
    svg {
      height: 20px;
      width: 20px;
      color: $clr-mid-orange;
      pointer-events: none;
    }
  }

  .btn-sign-in--inactive {
    background-color: $clr-light-orange;
    border: 2px solid $clr;
    pointer-events: none;
    cursor: default;
    color: $clr;
  }
  .modal-signin__forget {
    width: 90%;
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    a {
      font-size: 14px;
      color: $clr;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.modal-signin__completed {
  display: inline-block;
  padding: 6px 16px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  color: $clr;
  margin-top: 16px;
  border-radius: 4px;
}
/* SEARCH */

// ФОРМА ОТПРАВКИ ПОИСКА

.search__request {
  width: 100%;
}

.search__input-notification {
  display: flex;
  align-items: center;
  position: absolute;
  height: 30px;
  line-height: 24px;
  padding: 0px 10px;
  text-align: center;
  border-radius: 4px;
  background-color: $clr;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  top: 30px;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    margin-right: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 8px 0 8px;
    border-color: $clr transparent transparent transparent;
    transform: rotate(180deg);
  }
}
.search__input-notification--active {
  top: 78px;
  opacity: 1;
  transition: all 0.3s ease;
}

.search__form {
  display: flex;
  position: relative;
  justify-content: start;
  gap:30px;
  width: 100%;
  max-height: 46px;
  padding: 20px 0 48px 0;
}

.search__input {
  width: 50%;
  height: 42px;
  margin-right: 20px;
  border: 1px solid $clr-mid-orange;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 16px;
  z-index: 2;

  -webkit-box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.14);
  -moz-box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.14);
  box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.14);

  &:focus-visible {
    border: 1px solid $clr;
    outline: none;
    -webkit-box-shadow: 0px 0px 4px 4px rgba(199, 81, 45, 0.23);
    -moz-box-shadow: 0px 0px 4px 4px rgba(199, 81, 45, 0.23);
    box-shadow: 0px 0px 4px 4px rgba(199, 81, 45, 0.23);
  }
  &:active {
    border: 1px solid $clr;
  }
}  
.search__filters {
  margin: 14px 0;
}
.search__all-filters {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}
.search__all-filters--active {
  max-height: 1000px;
  transition: all 0.4s ease;
}
.search__inner-all-filters {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 2px;
}
.search__btn-types {
  display: flex;
  justify-content: start;
  gap: 30px;
}

.search__btn-search {
  min-width: 160px;
  max-width: 160px;
}

//  ПОИСКОВАЯ ВЫДАЧА

.search {
  // width: 76%;
  // margin: 50px auto;
}
.search__query {
  // width: 96%;
  // margin-top: 30px;

  // width: 74%;
  // margin: 50px auto;
  // padding: 24px 3%;
  // position: relative;
}
.search__heading {
  // padding: 24px 44px;
  // height: auto;
  // // width: 80%;

  width: 74%;
  margin: 50px auto;
  padding: 24px 3%;
  position: relative;
}
.search__waiting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  .search__h-waiting {
    font-size: 20px;
    font-weight: bold;
    color: $clr-light-grey;
  }
  .search__image-waiting {
    width: 60%;
  }
}
.search__container-loader {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search__loader {
  width: 200px;
  height: 200px;
  border: 12px solid #f8c8b9;
  border-top: 12px solid $clr;
  border-radius: 50%;
  margin: 60px auto 0 auto;
  animation: spin 1.6s linear infinite;
}

// TOP PAGINATION

.pagination {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: auto;
  max-height: 36px;
  font-size: 14px;
  background-color: $clr-light-orange;
  border: 1px solid #efdfda;
  border-radius: 6px;
  padding: 0 20px;
  color: $clr-mid-orange;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
  -moz-box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
  box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
  &:hover {
    background-color: $clr-mid-orange;
    color: #fff;
  }
}
.search__choose-page {
  display: flex;
  align-items: center;
  cursor: default;
  &:hover {
    background-color: $clr-light-orange;
    color: $clr-mid-orange;
  }
}

.search__input-pagination {
  border-left: 1px solid $clr-mid-orange;
  padding-left: 10px;
  height: auto;
  input {
    width: 48px;
    height: 18px;
    margin: 0 6px;
    border: 1px solid $clr-mid-orange;
    border-radius: 4px;
    padding: 0 4px;
    outline: none;
    &:focus {
      border: 1px solid $clr;
    }
    
  }
  svg {
    font-size: 8px;
  }
}

.search__total {
  display: flex;
  gap: 50px;
  cursor: default;
  pointer-events: none;
  font-size: 16px;
}
.search__top-pagination {
  height: 36px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.search__bottom-pagination {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  margin: 30px auto 10px auto;
}

.search__prev-link--inactive,
.search__next-link--inactive {
  pointer-events: none;
  color: #dd755494;
  cursor: default;
  border: 1px solid #efdfda;
  background-color: #faefec73;
}

.search__current-total {
  display: flex;
  gap: 20px;
}

.search__send-numpage {
  display: inline-flex;
  margin-left: 4px;
  align-items: center;
  line-height: 20px;
  gap: 4px;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 4px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $clr-mid-orange;
    color: #fff;
    transition: all 0.3s ease;
  }
}

.search__per-page {
  cursor: default;
  &:hover {
    background-color: $clr-light-orange;
    color: $clr-mid-orange;
  }
  select {
    cursor: pointer;
    width: 48px;
    height: 20px;
    margin: 0 6px;
    border: 1px solid $clr-mid-orange;
    border-radius: 4px;
    padding: 0 4px;
    outline: none;
    &:focus {
      border: 1px solid $clr;
    }
  }
}

// ПОИСКОВАЯ ВЫДАЧА ВЛОЖЕННЫЕ СТИЛИ

.search__results {
  width: 80%;
  margin-top: 30px;
  margin: 10px auto;
  padding: 10px 4% 24px 4%;
  position: relative;
}
.search-item {
  // width: auto;
  // position: relative;
  // margin: 20px 0;
  // padding: 36px 48px;
  opacity: 1;

  // width: 74%;
  margin: 30px auto;
  padding: 44px 4% 24px 4%;
  position: relative;


  h3 {
    font-size: 24px;
    color: $clr;
    margin: 0;
    margin-bottom: 4px;
  }

  .search-item__flags{
    position: absolute;
    top: 3px;
    right: 20px;
    span {
      margin: 0 10px;
    }
  }

  .search-item__author {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 6px 0;
    color: #5d5d5d;
    .search-item__names-author {
      span {
        margin-right: 5px;
      }
      .search-item__surname {
        margin-right: 0;
      }
    }
  }

  .search-item__publisher {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 10px 0;
  }

  .search-item__year {
    margin-left: 5px;
  }

  .search-item__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    // padding: 10px 0;
    max-height: 1000px;
    opacity: 1;
    transition: all 0.3s ease;
    transition-property: opacity,padding,max-height;
    > * {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .search-item__tags--hidden {
    // padding: 0;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    transition-property: opacity,padding,max-height;
  }

  .search-item__abstract {
    font-size: 18px;
    line-height: 26px;
    margin: 10px 0;

    .search-item__desc-container {
      margin: 0;
    }
    .search-item__h-desc {
      font-weight: bold;
      margin-right: 6px;
      color: #232323;
    }
  }
  .search-item__refs-counter {
    border-left: 1px solid #bd6b527e;
    padding-left: 10px;
  }

  .sm-btn-sec:hover .search-item__refs-counter,
  .sm-btn-sec--active .search-item__refs-counter {
    border-left: 1px solid #d89a8787;
  }

  .search-item__url {
    margin-left: 16px;
  }

  .search-item__identifiers {
    display: block;
    margin: 30px 0 16px 0;

    p {
      margin: 14px 0;
    }
    .search-item__id-type {
      border: 1px solid grey;
      border-radius: 4px;
      padding: 2px 6px;
      background: grey;
      color: #fff;
      margin-right: 10px;
      display: inline-block;
      line-height: 24px;
    }

    .search-item__id-number {
      margin-right: 26px;
      font-size: 18px;
    }
    .search-item__open-id-list {
      span,svg {
        pointer-events: none;
      }
    }
    .search-item__list-idents {
      visibility: hidden;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      // margin-bottom: 6px;
      margin-top: 10px;
    }
    .search-item__list-idents--active {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease;
      height: auto;
    }
  }
  
  .search-item__rights {
    color: #5d5d5d;
    margin: 10px 0 16px 0;

    p {
      margin: 0;
      display: inline-block;
    }
    
    svg {
      width: 14px;
      height: 14px;
      margin-left: 6px;
    }
    a {
      line-height: 22px;
      padding: 4px 10px;
      margin-left: 10px;
      color: #747474;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      background: #80808018;
      cursor: pointer;
      transition: all 0.2s;
    }
    a:hover {
      background-color: #747474af;
      color: #fff;
      transition: all 0.4s;
      svg {
        color: #fff;
        transition: all 0.4s;
      }
    }
  }
  .search-item__btn-bookmark {
    // padding: 6px 12px;
    // width: 280px;
    // max-height: 32px;
    // line-height: 32px;
    // border-radius: 8px;
    // font-size: 18px;
    // color: #fff;
    // background-color: #c7512d;
  }
  .search-item__ref-container {
    display: flex;
    justify-content: start;
    gap: 24px;
    position: relative;
    padding-top: 4px;
    margin-top: 12px;
  }

  .search-item__ref-button--empty {
    width: 152px;
  }
  .search-item__references {
    width: 70%;
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
  }
  .search-item__references--show {
    height: auto;
    overflow: visible;
    transition: all 0.4s;
  }

}


  // POPUP С ЦИТИРОВАНИЕМ В РАЗНЫХ СТИЛЯХ

  .cites {
    display: block;
    position: fixed;
    top: 42%;
    left: 50%;
    padding: 30px 36px;
    margin-left: -330px;
    margin-top: -220px;
    width: 760px;
    height: 440px;
    border: 1px solid transparent;
    border-radius: 12px;
    // background-color: rgb(244, 239, 237);
    background-color: rgb(255 252 250);
    z-index: 15;
    -webkit-box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.22);
  }
  .cites--hidden {
    display: none;
    visibility: hidden;
  }
  .cites__heading {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 8px 0;
    height: 40px;
    h4 {
      font-size: 22px;
      padding: 0;
      margin: 0;
      width: 90%;
      display: flex;
      justify-content: start;
      align-items: center;
      color: $clr-grey;
    }
    .cites__close {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      font-size: 26px;
      svg { 
        stroke: #232323;
      }
    }
    .cites__close:hover {
      font-size: 22px;
      svg {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: all 0.6s;
      }
      svg path {
        stroke: $clr;
      }
    }
  }
  .cites__title {
    display: inline-block;
    margin: 4px 0 16px 0;
    width: 84%;
    .cites__span-title {
      font-size: 15px;
      line-height: 22px;
      font-weight: bold;
      color: $clr-grey;
    }
  }

  .cites__cont-doi {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cites__cont-doi-inner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f6dfd8;
    margin: 0 auto;
    height: 26px;
    gap: 20px;
  }
  .cites__h-doi {
    display: flex;
    width: 36px;
    height: 100%;
    font-size: 13px;
    line-height: 22px;
    justify-content: center;
    align-items: center;
    background-color: #d8856c;
    color: #fff;
    border-radius: 0;
  }

  .cites__text-doi {
    position: relative;
    color: #933519;
    height: 100%;
    line-height: 26px;
    z-index: 2;
  }

  .cites__copy-doi {
    display: flex;
    width: 72px;
    height: 100%;
    color: #fff;
    background-color: #d8856c;
    font-size: 14px;
    line-height: 22px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    &:hover {
      background-color: $clr;
    }
  }

  .doi-copied-span {
    visibility: hidden;
    width: 150px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    padding: 4px 8px;
    text-align: center;
    border-radius: 2px;
    background-color: $clr;
    color: #fff;
    font-size: 14px;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -1;
  }
  .doi-copied-span--active {
    visibility: visible;
    right: -180px;
    opacity: 1;
    transition: all 0.3s ease;
  } 

  .cites__style {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
  }

  .cites__arrow {
    font-size: 32px;
    color: $clr;
    position: absolute;
    right: 84px;
    top: 200px;
    -moz-animation: topdown-loop 1s ease alternate;
    -webkit-animation: topdown-loop 1s ease alternate;
    -o-animation: topdown-loop 1s ease alternate;
    animation: topdown-loop 1s ease alternate;
    animation-iteration-count: infinite;
  }

  .cites__cite {
    min-height: 54px;
    height: auto;
    background-color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding: 8px 14px;
    opacity: 0.3;
    border: 2px solid $clr;
    border-radius: 4px;
  }

  .cites__action {
    display: inline-block;
    font-size: 16px;
    // padding-top: 10px;
    font-weight: bold;
    color: #686868;
    animation-name: fading;
    animation-duration: 0.6s;
  }

  .cites__cont-copy {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
  }

  .cites__desc-style {
    max-width: 48%;
    text-align: left;
  }

  .cites__h {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px 6px;
    background: grey;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    line-height: 16px;
    height: 18px;
  }

  .cites__about-style {
    margin-left: 12px;
    line-height: 16px;
    svg {
      margin-right: 8px;
    }
  }

  .cites__btn-copy {
    text-align: center;
    margin-left: auto;
    z-index: 5;
  }

  .copied {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 13px;
    background-color: #c7512d;
    color: #fff;
    transition: all 0.6s ease;
    z-index: 0;
  }
  .copied--active {
    visibility: visible;
    opacity: 1;
    top: -40px;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .cites__box-styles {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 8px;
  }

  .cites__btn-reload {
    margin-left: auto;
    height: 32px;
    min-width: 130px;
  }

  .cites__btn-reload--loaded {
    color: $clr;
    background-color: #faefec;
    transition: all 0.4s;
    border: 1px solid $clr;
  }

  .cites__list-style {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    
    .cites__li-style {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 12px;
      margin: 0 16px 0 0;
      height: 28px;
      font-size: 12px;
      font-weight: bold;
      // border: 1px solid grey;
      border: 1px solid $clr;
      border-radius: 4px;
      background-color: #faefec;
      // color: rgb(61, 61, 61);
      color: $clr;
      line-height: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgba(199, 81, 45, 0.163);
        transition: all 0.3s ease;
      }
    }
    
    .cites__li-style--active {
      // background-color: grey;
      background-color: $clr;
      color: #fff;
      &:hover {
        background-color: $clr;
        color: #fff;
      }
    }
  }

  .cites__output {
    display: inline-flex;
    align-items: center;
    min-height: 70px;
  }

  .cites__ad-cont {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin: 14px 0;
  }
  .cites__ad-text {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: #888;
    text-align: center;
    display: flex;
    align-items: center;
    .link-out-question {
      color: #5c5c5c;
      margin-left: 6px;
      transition: all 0.4s ease;
      svg {
        font-size: 10px;
        margin-left: 6px;

      }
      &:hover {
        color: #fff;
        transition: all 0.4s ease;
      }
    }
  }


  // Effects

  .modal_sign-appear {
    opacity: 0.01;
    transition: opacity 50ms ease;
  }
  .modal_sign-appear-active {
    opacity: 0.01;
  }
  .modal_sign-appear-done {
    opacity: 1;
    transition: opacity 340ms ease;
  }
  .modal_sign-exit {
    opacity: 1;
  }
  
  .modal_sign-exit-active {
    opacity: 1;
    transition: opacity 5000ms ease;
  }
  .modal_sign-exit-done {
    opacity: 1;
    transition: opacity 3400ms ease;
  }
  


  .ease-appear {
    opacity: 0.05;
    transition: opacity 100ms ease-in;
  }
  .ease-appear-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
  }
  .ease-appear-done {
    opacity: 1;
  }


  .slide-appear {
    display: block;
    overflow: hidden;
    max-height: 200px;
    transition: all 300ms ease-in;
  }
  .slide-appear-active {
    max-height: 2000px;
    transition: all 600ms ease-in;
  }
  .slide-appear-done {
    max-height: 2000px;
    transition: all 600ms ease-in;
  }


  .slide-main-appear {
    opacity: 0;
    transition: all 50ms linear;
  }
  .slide-main-appear-active {
    opacity: 0;
    transition: all 10ms linear;
  }
  .slide-main-appear-done {
    opacity: 1;
    transition: all 300ms linear;
  }


  .loader-container {
    margin: 16px auto 10px auto;
    position: relative;
    width: 600px;
    height: 12px;
    border: 2px solid $clr;
    border-radius: 8px;
  }
  .loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $clr;
    animation-name: loading;
    animation-duration: 1.6s;
  }

  .btn-loader-container {
    position: relative;
    height: 30px;
    width: 30px;
    .btn-loader {
      position: absolute;
      width: 16px;
      height: 16px;
      border: 2px solid #f8c8b9;
      border-top: 2px solid #fff;
      border-radius: 50%;
      margin: 0 auto;
      animation: spin 1.6s linear infinite;
      background-color: transparent;
      left: 0;
      top: 50%;
      margin-top: -10px;
    }
  }
  @keyframes loading {
    from {width: 0%;}
    to {width: 100%}
  }
  @keyframes fading {
    from {opacity: 0.3;}
    to {opacity: 1;}
  }
  @keyframes topdown-loop {
    0% {top: 200;}
    100% {top: 220px}
  }

  @keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

