// .library > div {

//     width: 74%;
//     margin: 50px auto;
//     padding: 24px 44px;
// }

.library__heading {
    width: 74%;
    margin: 50px auto;
    padding: 24px 3%;
}

.library__items {
    width: 80%;
    margin: 50px auto;
}

.library__item {
    margin: 20px 0;
}