:root {
  --clr: #c7512d;
  --clr-sec: #2dc7bd;
}
$clr: var(--clr);
$clr-sec: var(--clr-sec);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.ovelaped {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.modal-bgn {
  display: block;
  background-color: #ffffff7f;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal-bgn--hidden {
  display: none;
  visibility: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  position: relative;

  width: 100vw;
  max-width: calc(100% - 40px);
  height: auto;
  min-height: 100vh;

  padding: 20px;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  width: 16%;
  min-width: 280px;
  height: 100%;
  left: 0;
  top: 0;

  background-color: #fff;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  padding: 8% 5%;
  svg {
    width: 80px;
    height: 80px;
  }
  .logo__text {
    text-align: center;
    h1 {
      margin: 0;
      color: $clr;
      font-size: 36px;
      text-transform: uppercase;
    }
    p {
      margin: 0;
    }
  }
}

.profile {
  display: grid;
  position: relative;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 90%;
  padding: 8% 5%;
  font-size: 16px;
  .profile__image {
    width: 38%;
    max-width: 110px;
    margin-top: 10px;
  }
  .profile__name {
    padding: 12px 0 6px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(40, 40, 40);
  }
  .profile__email {
    font-size: 1em;
    color: rgb(55, 55, 55);
  }
}

.menu {
  width: 90%;
  padding: 8% 5%;
  font-size: 24px;
  .menu__list {
    list-style-type: none;
  }
  .menu__item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    svg {
      width: 24px;
      height: 24px;
      color: rgb(100, 100, 100);
    }
    .menu__title {
      font-size: 0.8em;
      margin-left: 30px;
      font-weight: bold;
      color: rgb(100, 100, 100);
    }
  }
  .menu__item:hover,
  a.active {
    cursor: pointer;
    svg {
      color:$clr;
    }
    .menu__title {
      color: $clr;
    }
  }  
}

/* MAIN */

.main {
  position: absolute;
  top: 0;
  left: 16%;
  width: 84%;
  height: 100vh;
  min-height: 100%;

  background-color: rgb(240, 246, 246);

  h2 {
    margin: 10px 20px;

    color: rgb(40, 40, 40);
  }

}

.block {
  padding: 10px 20px;

  border-radius: 12px;
  background-color: #fff;

  -webkit-box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
  -moz-box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
  box-shadow: 4px 4px 8px 2px rgba(88, 153, 167, 0.1);
}

// BUTTONS 

.tag {
  padding: 5px 14px;
  background-color: #fff;
  color: $clr;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid $clr;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(118, 72, 76, 0.11);
  -moz-box-shadow: 2px 2px 4px 0px rgba(118, 72, 76, 0.11);
  box-shadow: 2px 2px 4px 0px rgba(118, 72, 76, 0.11);
}
.sm-tag {
  font-size: 14px;
  line-height: 16px;
  padding: 4px 12px;
  background-color: #fff;
  border: 1px solid $clr;
  border-radius: 8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: $clr;
  margin-right: 12px;
}


.btn-main {
  min-width: 200px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: $clr;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  -webkit-box-shadow: 2px 3px 1px 0px rgba(74, 42, 45, 0.12);
  -moz-box-shadow: 2px 3px 1px 0px rgba(74, 42, 45, 0.12);
  box-shadow: 2px 3px 1px 0px rgba(74, 42, 45, 0.12);
}
.sm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  min-width: 150px;
  height: 38px;
  max-height: 38px;
  padding: 0 14px;
  border: 1px solid $clr;
  border-radius: 4px;
  color: #fff;
  background-color: $clr;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 14px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 14px 0px rgba(34, 60, 80, 0.2);
  > span {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  &:hover {
    color: $clr;
    background-color: rgba(199, 81, 45, 0.066);
    transition: all 0.4s;
    border: 1px solid $clr;
  }
}
.sm-btn--sm {
  font-size: 12px;
  font-weight: normal;
  height: 26px;
  max-height: 26px;
}

.sm-btn-sec {
  border: 1px solid $clr;
  color: $clr;
  background-color: rgba(199, 81, 45, 0.066);
  &:hover {
    color: #fff;
    background-color: $clr;
    transition: all 0.4s;
  }
}
.sm-btn-sec--active {
  color: #fff;
  background-color: $clr;
  transition: all 0.4s;
}

.sm-btn-alt {
  border: 1px solid $clr-sec;
  color: $clr-sec;
  background-color: #2dc7bd19;
}

.link-out {
  font-size: 16px;
  padding: 4px 12px;
  background: rgb(199 81 45 / 24%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $clr;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
  svg {
    color: $clr;
    font-size: 14px;
    margin-left: 10px;
    pointer-events: none;
  }

  &:hover {
    background: $clr;
    color: #fff;
    transition: all 0.4s;
    svg {
      color: #fff;
      transition: all 0.4s;
    }
  }
}
.link-out-question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #c3c3c3;
  color: #232323;
  padding: 0 8px;
  height: 22px;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #676767;
  }
}
/* SEARCH */

.search {
  width: 80%;
  margin: 50px auto 0 auto;
}

.search__heading {
  width: 80%;
}
.search__request {
  width: 80%;
  margin-top: 40px;

  form {
    display: flex;
    width: 100%;
    justify-content: start;

    padding: 20px;
  }
  .search__input {
    width: 50%;
    height: 42px;
    margin-right: 5%;

    border: 1px solid grey;
    border-radius: 10px;
  }
}

// ПОИСКОВАЯ ВЫДАЧА ВЛОЖЕННЫЕ СТИЛИ

.search-item {
  width: 80%;
  position: relative;
  margin: 20px 0;
  padding: 36px 48px;

  h3 {
    font-size: 24px;
    color: $clr;
    margin: 0;
    margin-bottom: 4px;
  }

  .search-item__flags{
    position: absolute;
    top: 3px;
    right: 20px;
    span {
      margin: 0 10px;
    }
  }

  .search-item__author {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 6px 0;
    color: #5d5d5d;
  }

  .search-item__publisher {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 10px 0;
  }

  .search-item__year {
    margin-left: 5px;
  }

  .search-item__tags {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px 0;
    > * {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .search-item__abstract {
    font-size: 18px;
    line-height: 26px;
    margin: 10px 0;

    .search-item__desc-container {
      margin: 0;
    }
    .search-item__h-desc {
      font-weight: bold;
      margin-right: 6px;
      color: #232323;
    }
  }
  .search-item__refs-counter {
    border-left: 1px solid #bd6b527e;
    padding-left: 10px;
  }

  .sm-btn-sec:hover .search-item__refs-counter,
  .sm-btn-sec--active .search-item__refs-counter {
    border-left: 1px solid #d89a8787;
  }

  .search-item__url {
    margin-left: 16px;
  }

  .search-item__identifiers {
    display: block;
    margin: 30px 0 20px 0;

    p {
      margin: 14px 0;
    }
    .search-item__id-type {
      border: 1px solid grey;
      border-radius: 4px;
      padding: 2px 6px;
      background: grey;
      color: #fff;
      margin-right: 10px;
      display: inline-block;
      line-height: 24px;
    }

    .search-item__id-number {
      margin-right: 26px;
      font-size: 18px;
    }
  }
  
  .search-item__rights {
    color: #5d5d5d;
    margin: 10px 0;

    p {
      margin: 0;
    }
    
    svg {
      width: 14px;
      height: 14px;
      margin-left: 6px;
    }
    a {
      line-height: 22px;
      padding: 4px 10px;
      margin-left: 10px;
      color: #747474;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      background: #80808018;
      cursor: pointer;
      transition: all 0.2s;
    }
    a:hover {
      background-color: #747474af;
      color: #fff;
      transition: all 0.4s;
      svg {
        color: #fff;
        transition: all 0.4s;
      }
    }
  }
  .search-item__btn-bookmark {
    // padding: 6px 12px;
    // width: 280px;
    // max-height: 32px;
    // line-height: 32px;
    // border-radius: 8px;
    // font-size: 18px;
    // color: #fff;
    // background-color: #c7512d;
  }
  .search-item__ref-container {
    display: flex;
    justify-content: start;
    gap: 24px;
    position: relative;
    padding-top: 4px;
    margin-top: 12px;
  }

  .search-item__ref-button--empty {
    width: 152px;
  }
  .search-item__references {
    width: 70%;
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
  }
  .search-item__references--show {
    height: auto;
    overflow: visible;
    transition: all 0.4s;
  }

}



  
  
  // POPUP С ЦИТИРОВАНИЕМ В РАЗНЫХ СТИЛЯХ

  .cites {
    display: block;
    position: fixed;
    top: 46%;
    left: 50%;
    padding: 30px 36px;
    margin-left: -330px;
    margin-top: -200px;
    width: 760px;
    height: 400px;
    border: 1px solid transparent;
    border-radius: 14px;
    background-color: rgb(244, 239, 237);
    z-index: 11;
    -webkit-box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.22);
  }
  .cites--hidden {
    display: none;
    visibility: hidden;
  }
  .cites__heading {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 24px;
    // border-bottom: 1px solid grey;
    height: 40px;
    padding-left: 10%;
    h4 {
      font-size: 22px;
      padding: 0;
      margin: 0;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      // text-transform: uppercase;
      color: #232323;
    }
    .cites__close {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      font-size: 26px;
      svg { 
        stroke: #232323;
      }
    }
    .cites__close:hover {
      font-size: 22px;
      svg {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: all 0.6s;
      }
      svg path {
        stroke: $clr;
      }
    }
  }

  .cites__subheading {
    font-size: 16px;
    text-align: left;
  }

  .cites__style {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 36px;
  }

  .cites__arrow {
    font-size: 32px;
    color: $clr;
    position: absolute;
    right: 84px;
    top: 170px;
    -moz-animation: topdown-loop 1s ease alternate;
    -webkit-animation: topdown-loop 1s ease alternate;
    -o-animation: topdown-loop 1s ease alternate;
    animation: topdown-loop 1s ease alternate;
    animation-iteration-count: infinite;
  }

  .cites__cite {
    min-height: 54px;
    height: auto;
    background-color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding: 6px 12px;
    opacity: 0.3;
  }

  .cites__action {
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
    color: #686868;
    animation-name: fading;
    animation-duration: 0.6s;
  }
  .cites__cont-copy {
    display: flex;
    justify-content: start;
  }
  .cites__h {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px 6px;
    background: grey;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    line-height: 16px;
    height: 18px;
  }
  .cites__about-style {
    margin-left: 12px;
    line-height: 16px;
    svg {
      margin-right: 8px;
    }
  }
  .cites__btn-copy {
    text-align: center;
    margin-left: auto;
  }

  .cites__box-styles {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 8px;
  }

  .cites__btn-reload {
    margin-left: auto;
    height: 32px;
    min-width: 130px;
  }
  .cites__btn-reload--loaded {
    color: $clr;
    background-color: rgba(199, 81, 45, 0.066);
    transition: all 0.4s;
    border: 1px solid $clr;
  }

  .cites__list-style {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    .cites__li-style {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 12px;
      margin: 0 16px 0 0;
      height: 28px;
      font-size: 14px;
      border: 1px solid grey;
      border-radius: 4px;
      background: #fff;
      color: rgb(61, 61, 61);
      line-height: 16px;
      cursor: pointer;
    }
    .cites__li-style--active {
      background-color: grey;
      color: #fff;
    }
  }
  .cites__output {
    display: inline-block;
    min-height: 70px;
  }

  // Effects
  .ease-appear {
    opacity: 0.05;
    transition: opacity 100ms ease-in;
  }
  .ease-appear-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
  }
  .ease-appear-done {
    opacity: 1;
  }


  .loader-container {
    margin: 16px auto 10px auto;
    position: relative;
    width: 600px;
    height: 12px;
    border: 2px solid $clr;
    border-radius: 8px;
  }
  .loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $clr;
    animation-name: loading;
    animation-duration: 1.6s;
  }
  @keyframes loading {
    from {width: 0%;}
    to {width: 100%}
  }
  @keyframes fading {
    from {opacity: 0.3;}
    to {opacity: 1;}
  }
  @keyframes topdown-loop {
    0% {top: 170px;}
    100% {top: 190px}
  }

